@media (min-width: 480px) {
    .card {
    margin: 10px 60px;
    }
}

@media (min-width: 768px) {
    header, .welcome-section, .project h1, .cards, .about, .contact_me-content {
        max-width: 1000px;
        margin: 0 auto;
        font-size: 20px;
    }  

    .contact_me-content{
        font-size: 15px;
    } 

    #icon-small{
        font-size: 12px
    }   
 
    h2{
        font-size: 36px;
    }   

    h3{
        font-size: 19px;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    nav{
        display: contents;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }   

    li {
        display: inline;
        margin-right: 20px;
    } 
    
    li:hover{
        color: #B11C83;
        cursor: pointer;
    }
    
    .cta{
        margin: 0px 0px 20px;
    }

    .cta-pink{
        margin: 0
    }

    .welcome-text h1{
        font-size: 40px;
    }

    .welcome-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 20px;
        max-width: 800px;
        margin: 30px;
    }

    .welcome-text {
        text-align: left;
    }

    .header-icon{
        display: flex;
        align-items: center;
    }

    .code-img {
        max-height: 230px;
        max-width: 400px;
        border-radius: 10px;
    }

    .portrait{
        margin-top: -195px;
    }

    .project-headline{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 20px;
    }

    .project h1 {
        text-align: left;
    }

    .card {
        margin: 10px 60px;
    }


    .card p {
        padding: 0;
        font-size: 14px;
    }

    .github-btn{
        display: inline-block;
        color: #fff;
        border: solid 1px #fff;
        margin: 0 30px;
        padding: 15px;
    }

    .github-btn a {
        color: #ec91f8;
        font-weight: bold;
    }

    .github-btn a:hover {
        color: #fff;
    }

    .about {
        max-width: 800px;
    }

    .about p {
        text-align: left;
    }

    .icon-big {
        width: 100%;
        max-height: 50px;
        max-width: 50px;
    }

    .icon {
        display: flex;
        align-items: center;
        margin-top: -10px;
    }
    
    .icon div {
        display: flex;
        margin-left: 30px;
    }
    
    .icon img {
        margin-right: 10px;
        margin-top: -15px;
    }

    .contact_me-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
    }

    .contact_me-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        margin-top: -40px;
    }

    .contact_me-text h2 {
        margin-bottom: 0px;
    }

    .contact_me img {
        width: 100%;
        max-width: 500px;
    }
}

@media (min-width: 850px) {
    .welcome-section {
        margin: 30px auto;
    }
} 

@media (min-width: 1024px) {
    .project-headline{
        max-width: 1150px;
        margin: 0 auto 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        padding: 20px;
        width: 80%;
        width: 80%;
        transition: scale 400ms;
    }

    .card:hover {
        scale: 110%;
        }

    .card-img {
        height: 250px;
    }

    .card div {
        margin-top: 10px;
    }

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .icon div {
        display: flex;
        justify-content: space-between;
    }
    

    .contact_me-text {
        margin-top: -40px;
        font-size: 20px;
    }

    .contact_me-content{
        font-size: 15px;
    } 
}